body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

header {
    background-color: #ffffff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}
